<main>
    <p id="errorTag" hidden>{{errorMsg}}</p>
    {{#if errFlag}}
    <p id="errorTag">{{errorMsg}}</p>
    {{/if}}
    <form id="edit-property-form" action="/search/updateProperty/{{propData._id}}" method="POST">
        {{!-- <h4>Address</h4> --}}
        <label for="street">Street<span id="er">*</span>:</label>
        <input type="text" name="street" id="street" readonly maxlength="50" value="{{propData.address.street}}"
            required>
        <p id="street-error" hidden></p>

        <label for="apartmentNum">Apartment No.:</label>
        <input type="text" name="apartmentNum" id="apartmentNum" readonly maxlength="25"
            value="{{propData.address.apartmentNum}}">
        <p id="apartmentNum-error" hidden></p>

        <label for="city">City<span id="er">*</span>:</label>
        <input type="text" name="city" id="city" maxlength="25" readonly value="{{propData.address.city}}" required>
        <p id="city-error" hidden></p>

        <label for="state">State<span id="er">*</span>:</label>
        <input type="text" name="state" id="state" maxlength="25" readonly value="{{propData.address.state}}" required>
        <p id="state-error" hidden></p>

        <label for="zip">Zip Code<span id="er">*</span>:</label>
        <input type="number" name="zip" id="zip" value="{{propData.address.zip}}" readonly required>
        <p id="zip-error" hidden></p>

        <label for="nearestLandmarks">Nearest Landmarks:</label>
        <input type="text" name="nearestLandmarks" id="nearestLandmarks" maxlength="1000"
            value="{{propData.nearestLandmarks}}">
        <p id="nearestLandmarks-error" hidden></p>

        {{!-- <h4>Price</h4> --}}
        <label for="price">Price<span id="er">*</span>: $</label>
        <input type="number" step="0.01" name="price" id="price" value="{{propData.price}}" required>
        <p id="price-error" hidden></p>

        <label for="latitude">Latitude<span id="er">*</span>:</label>
        <input type="number" step="0.000001" name="latitude" readonly id="latitude"
            value="{{propData.location.latitude}}" required>
        <p id="latitude-error" hidden></p>

        <label for="longitude">Longitude<span id="er">*</span>:</label>
        <input type="number" step="0.000001" name="longitude" readonly id="longitude"
            value="{{propData.location.longitude}}" required>
        <p id="longitude-error" hidden></p>


        {{!-- <h4>Details</h4> --}}
        <label for="description">Description<span id="er">*</span>:</label>
        <input type="text" name="description" id="description" maxlength="1000" value="{{propData.details.description}}"
            required>
        <p id="description-error" hidden></p>

        {{!-- <label for="propertyType">Property Type<span id="er">*</span>:</label>
        <input type="text" name="propertyType" id="propertyType">
        <p id="propertyType-error" hidden></p> --}}

        <input type="text" value="{{propData.details.propertyType}}" hidden id="pType">
        <label for="propertyType">Property Type<span id="er">*</span>:</label>
        <select name="propertyType" id="propertyType" required>
            <option value="private">Private</option>
            <option value="shared">Shared</option>
        </select>
        <p id="propertyType-error" hidden></p>

        {{!-- <label for="apartmentType">Apartment Type<span id="er">*</span>:</label>
        <input type="text" name="apartmentType" id="apartmentType">
        <p id="apartmentType-error" hidden></p> --}}

        <label for="apartmentType">Apartment Type<span id="er">*</span>:</label>
        <input type="text" name="apartmentType" readonly id="apartmentType" value="{{propData.details.apartmentType}}">

        <p id="apartmentType-error" hidden></p>

        {{!-- <label for="accomodationType">Accommodation Type<span id="er">*</span>:</label>
        <input type="text" name="accomodationType" id="accomodationType">
        <p id="accomodationType-error" hidden></p> --}}

        <input type="text" value="{{propData.details.accomodationType}}" hidden id="aType">
        <label for="accomodationType">Accommodation Type<span id="er">*</span>:</label>
        <select name="accomodationType" id="accomodationType" required>
            <option value="permanent">Permanent</option>
            <option value="temporary">Temporary</option>
        </select>
        <p id="accomodationType-error" hidden></p>

        <label for="area">Area in square feet<span id="er">*</span>:</label>
        <input type="number" readonly name="area" id="area" value="{{propData.details.area}}" required>
        <p id="area-error" hidden></p>

        <label for="bedroomCount">No. of Bedrooms<span id="er">*</span>:</label>
        <input type="number" name="bedroomCount" readonly id="bedroomCount" value="{{propData.details.bedroomCount}}"
            required>
        <p id="bedroomCount-error" hidden></p>

        <label for="bathroomCount">No. of Bathrooms<span id="er">*</span>:</label>
        <input type="number" name="bathroomCount" readonly id="bathroomCount" value="{{propData.details.bathroomCount}}"
            required>
        <p id="bathroomCount-error" hidden></p>

        <label for="images">Upload Property Photos<span id="er">*</span>: </label>
        <input name="images" id="images" type="file" accept="image/*" multiple>
        <p id="images-error" hidden></p>

        <button type="submit" name="submitButton" id="submitButton">Submit</button>
        {{!-- <button type="cancel" name="cancelButton" id="cancelButton">Cancel</button> --}}
    </form>
    <div id="errors" hidden></div>
    {{#if isError}}
    <ul id="errors">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</main>

<script src="/public/js/addProperty.js"></script>