<div class="property-details">
  <h1>Property Details</h1>

  <div class="address">
    <h2>Address</h2>
    <p>{{propertyDetails.address.street}}{{#if
      propertyDetails.address.apartmentNum
      }}, Apt
      {{propertyDetails.address.apartmentNum}}{{/if}}</p>
    <p>{{propertyDetails.address.city}},
      {{propertyDetails.address.state}}
      {{propertyDetails.address.zip}}</p>
  </div>

  {{#if isAuthenticated}}
  {{else}}
  <p>Please sign in to add this property to your favorites.</p>
  {{/if}}

  {{#if isAuthenticated}}

  {{#if isFavAdded}}
  <a href="/search/removeFav/{{propertyDetails._id}}"><p>Remove Favorite</p></a>
  {{else}}
  <div class="add-to-favorite">
    <a href="/search/addFav/{{propertyDetails._id}}"><p>Add to Favorite</p></a>

  </div>
  {{/if}}
  {{/if}}



  <div class="price">
    <h2>Price</h2>
    <p>${{propertyDetails.price}}</p>
  </div>

  <div class="details">
    <h2>Details</h2>
    <p>Description: {{propertyDetails.details.description}}</p>
    <p>Property Type: {{propertyDetails.details.propertyType}}</p>
    <p>Apartment Type: {{propertyDetails.details.apartmentType}}</p>
    <p>Accommodation Type: {{propertyDetails.details.accomodationType}}</p>
    <p>Area (sq ft): {{propertyDetails.details.area}}</p>
    <p>Bedrooms: {{propertyDetails.details.bedroomCount}}</p>
    <p>Bathrooms: {{propertyDetails.details.bathroomCount}}</p>
  </div>

  <div class="nearestLandmarks">
    <h2>Nearest Landmark(s)</h2>
    {{#if propertyDetails.nearestLandmarks}}
    <ul>
      {{#each propertyDetails.nearestLandmarks}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No landmarks available.</p>
    {{/if}}
  </div>

  <div class="location">
    <h2>Location</h2>
    <p>Latitude: {{propertyDetails.location.latitude}}</p>
    <p>Longitude: {{propertyDetails.location.longitude}}</p>
    <input id="lat" value="{{propertyDetails.location.latitude}}" hidden>
    <input id="lng" value="{{propertyDetails.location.longitude}}" hidden>
  </div>

  <div class="images">
    <h2>Images</h2>
    {{#each propertyDetails.images}}
    <img src="/uploads/images/{{this}}" alt="Property image" class="prop-images"/>
    {{/each}}
  </div>
  {{#if isAuthenticated}}
  <div class="lease"><p><strong>Lease PDF: </strong><button id="leasePdf">Download Lease</button></p></div>
  {{/if}}
  <div class="comments">
    <h2>Comments</h2>
    {{#if propertyDetails.comments}}
    <ul>
      {{#each propertyDetails.comments}}
      <li>
        <p>{{this.CommentText}}</p>
        <p>Posted on: {{this.postTime}}</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No comments yet.</p>
    {{/if}}

    {{#if isAuthenticated}}
    <div class="add-comment">
      <h3>Add a Comment</h3>
      <form action="/comment/{{propertyDetails._id}}" method="POST">
        <textarea name="commentText" placeholder="Enter your comment here..."></textarea>
        <br />
        <button type="submit">Post Comment</button>
      </form>
    </div>
    {{else}}
    <p>Please sign in to add comment.</p>
    {{/if}}

  </div>
  <div id="location-map"></div>
</div>
<script src="/public/js/property.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRnTkBRD7xFLM0-r898l24ypcCyLiCkO8&loading=async&callback=showMap"></script>