<div class="filters">
    <form action="/search/check" method="post">
        <input type="hidden" id="searchProperty" name="searchProperty" value="{{searchProperty}}">
        <h2 id="searchProperty" name="searchProperty">Showing results for: {{searchProperty}}</h2>
        <label for="price-filter">Price less than or equal to:</label>
        <input type="number" id="price" name="price">
        <label for="accomodation-type-filter">Accommodation Type:</label>
        <select name="accomodationType" id="accomodation-type-filter">
            <option value="" selected disabled hidden></option>
            <option value="permanent">Permanent</option>
            <option value="temporary">Temporary</option>
        </select>
        <button id="apply-filters-btn" type="submit">Apply Filters</button>
    </form>
</div>
<br>


{{#each searchResults}}
<a href="/search/property/{{this._id}}" class="property-link">
    <div class="card">
        <div class="card-content">
            <div class="image-container">
                <img src="/uploads/images/{{this.images.[0]}}" alt="Property Image" class="propResults-img">
                <i class="favorite-icon fas fa-heart{{#if this.isFavorite}} active{{/if}}"></i>
            </div>
            <div class="property-details">
                <input type="text" value="{{this._id}}" id="propId" hidden>
                <p>Address: {{this.address.street}}</p>
                <p>City: {{this.address.city}}</p>
                <p>State: {{this.address.state}}</p>
                <p>Price: ${{this.price}}</p>
                <p class="favorite-count" data-favorite-count="{{this.favouriteCount}}">{{this.favouriteCount}} user(s)
                    added this property as their Favorite</p>
            </div>
            {{#if this.isLoggedin}}
            {{else}}
            <p>Please sign in to add this property to your favorites.</p>
            {{/if}}
            {{#if this.isLoggedin}}
            {{#if this.isFavor}}
            <a href="javascript:void(0)" id="addToFav" hidden><button>Add to Favorite</button></a>
            <a href="javascript:void(0)" id="removeFav"><button>Remove from Favorite</button></a>
            {{else}}
            <div class="add-to-favorite">
                <button type="submit" id="addToFav">Add to Favorite</button>
</a>
<button type="submit" id="removeFav" hidden>Remove from Favorite</button></a>
</div>
{{/if}}
{{/if}}
</div>
</div>
</a>
{{/each}}

<script>
    document.getElementById("apply-filters-btn").addEventListener("click", function () {
        document.getElementById("price-filter").value = "";
        document.getElementById("accomodation-type-filter").selectedIndex = 0;
    });
</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/public/js/propertyResults_favorite.js"></script>