<h1>Property Search Results</h1>
<div class="filters">
    <label for="price-filter">Price:</label>
    <input type="number" id="price-filter" min="0">
    <label for="accomodation-type-filter">Accomodation Type:</label>
    <select id="accomodation-type-filter">
        <option value="" selected disabled hidden></option>
        <option value="permanent">Permanent</option>
        <option value="temporary">Temporary</option>
    </select>
    <button id="apply-filters-btn">Apply Filters</button>
</div>
<script>
document.getElementById("apply-filters-btn").addEventListener("click", function() {
    document.getElementById("price-filter").value = "";
    document.getElementById("accomodation-type-filter").selectedIndex = 0;
});
</script>
{{#each searchResults}}
<a href="/search/property/{{this._id}}" class="property-link">
    <div class="card">
        <div class="card-content">
            <div class="image-container">
                <img src="{{this.images}}" alt="Property Image">
                <i class="favorite-icon fas fa-heart{{#if this.isFavorite}} active{{/if}}"></i>
            </div>
            <div class="property-details">
                <p>Address: {{this.address.street}}</p>
                <p>City: {{this.address.city}}</p>
                <p>State: {{this.address.state}}</p>
                <p>Price: ${{this.price}}</p>
                {{#if this.favouriteCount}}
                <p class="favorite-count" >Favorite Count: {{this.favouriteCount}}</p>
                {{/if}}
            </div>
        <div class="add-to-favorites">
             <button class="add-favorites-btn">Add to Favorites</button>
        </div>      
        </div>
    </div>
</a>
{{/each}}