    <main>
        <div id="user-card">
            <h2>User Info: </h2>
            <img src="/public/images/{{user.profilePicture}}" alt="User Picture" onerror="this.onerror=null; this.src='/public/images/BasePic.jpg'" id="ig" height="250" width="150">
            <p id="fn"><strong>Name: </strong>{{user.firstName}} {{user.lastName}}</p>
            <input id="userId" name="userId" type="hidden" value="{{user._id}}">
            <input id="st" name="st" value="{{user.state}}" type="hidden">
            <input id="gen" name="gen" value="{{user.gender}}" type="hidden">
            <p id="db"><Strong>DOB: </Strong><span id="dob">{{user.age}}</span></p>
            <p id="ct"><strong>City: </strong>{{user.city}}</p>
            <p id="stat"><strong>State: </strong>{{user.state}}</p>
            <br>
            <button onclick="showForm()">Edit Profile</button>

            {{!-- need button for edit profile here --}}
        </div>

        <div id="edit-form" hidden>
        <form id="myForm" enctype="multipart/form-data">
        <label for="firstName">First Name<span class="er">*</span>:</label>
        <input type="text" name="firstName" id="firstName" minlength="2" maxlength="25" value="{{user.firstName}}" required>
        <p id="firstName-error" hidden></p>


        <label for="middleName">Middle Name: </label>
        <input type="text" name="middleName" id="middleName" value="{{user.middleName}}">

        <label for="lastName">Last Name<span class="er">*</span>:</label>
        <input type="text" name="lastName" id="lastName" minlength="2" maxlength="25" value="{{user.lastName}}" required>
        <p id="lastName-error" hidden></p>

        <label for="email">Email<span class="er">*</span>: </label>
        <input type="email" name="email" id="email" value="{{user.email}}" readonly> <span>* Can not edit Email Id</span>
        <p id="email-error" hidden></p>

        <label for="gender">Gender<span class="er">*</span>: </label>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <p id="gender-error" hidden></p>


        <label for="age">Date Of Birth<span class="er">*</span>: </label>
        <input name="age" id="age" type="date" required>
        <p id="age-error" hidden></p>
        <!--yyyy-mm-dd -->

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="New Password">
        <p id="password-error" hidden></p>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <p id="confirmPassword-error" hidden></p>
        
        <label for="state">State<span class="er">*</span>: </label>
        <select name="state" id="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <p id="state-error" hidden></p>

        <label for="city">City<span class="er">*</span>: </label>
        <input type="text" name="city" id="city" value="{{user.city}}" required>
        <p id="city-error" hidden></p>

        <label for="profilePicture">Profile Picture: </label>
        <input name="profilePicture" id="profilePicture" type="file" accept="image/*">
        <p id="profilePicture-error" hidden></p>


        <button type="submit" name="submit-button" id="submit-button">Save Changes</button>
    </form>



    <div id="errors" hidden></div>

    {{#if isError}}
    <ul id="errors">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
    </div>

        <div id="properties-card">
            <h2>Properties posted:</h2>
            {{#if properties.length}}
            {{#each properties}}
                <div class="property-card">
                <p><strong>House: </strong>{{this.address.street}}, {{this.address.city}}, {{this.address.state}}</p>
                <p><strong>Rent: </strong>{{this.price}}$</p>
                <p><strong>Property Type: </strong>{{this.details.propertyType}}</p>
                <p><strong>Apartment Type: </strong>{{this.details.apartmentType}}</p>
                <p><strong>Area(in sqft): </strong>{{this.details.area}}</p>
                <p><strong>Favorite Count: </strong>{{#if this.favouriteCount}} {{this.favouriteCount}} {{else}} 0 {{/if}}</p>
                <div class="prop-actions">
                    <p><a href="/search/editProperty/{{this._id}}">Edit Property</a></p>
                    {{!-- <a href="/editProp"><button>Edit Property</button></a> --}}
                    <p><a href="../search/remove/{{this._id}}">Remove Property</a></p>
                </div>
                <a href="/search/property/{{this._id}}" class="p-card">View Property</a>
                </div>
            {{/each}}

            {{else}}
            <div id="no-property-card">No properties posted yet.</div>
            {{/if}}
        </div>

        <div id="favorites-card">
            <h2>Favorite Properties:</h2>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/public/js/userProfile.js"></script>